{% extends "base.html" %}
{% block content %}
<div class="d-flex justify-content-center">
<a class="btn btn-lg btn-secondary" href="{{ url_for('add_card') }}">+</a>
</div>
<br>
    {% for card in cards %}
        <div class="row">
            <div class="col-md-4 px-1">
                <div class="d-flex justify-content-end">
                    <a class="btn btn-lg btn-secondary" href="{{ url_for('delete', card_id=card.id) }}">-</a>
                </div>
            </div>
            <div class="col-md-4 px-1">
                <div class="d-flex justify-content-start">
                    <a class="btn btn-lg btn-secondary" href="{{ url_for('edit', card_id=card.id) }}">{{ card.front }}</a>
                </div>
            </div>
            <div class="col-md-4 px-1">
            </div>
        </div>
        <br>
    {% endfor %}
{% endblock %}

