{% extends "base.html" %}

{% block content %}
    <form action="" method="post" novalidate>
        <div class="row no-gutters">
            <div class="col-md-6 px-0">
        {{ form.hidden_tag() }}
            {{ form.front.label }} <br>
            {{ form.front(cols="35", rows="20", value=card.front) }}
            {% for error in form.front.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            </div>
        <div class="col-md-6 px-0">
            {{ form.back.label }}<br>
            {{ form.back(cols="35", rows="20", value=card.back) }}
            {% for error in form.back.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        </div>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
