{% extends "base.html" %}
{% block content %}
<div class="d-flex justify-content-center">
    <div class="row learningCard">
        <div class="card" style="width: 45rem; height: 45rem;">
            <div class="card-body align-items-center d-flex justify-content-center">
                <h3><div id="card">
                    </div></h3>
            </div>
        </div>
    </div>
</div>
<br>
<div class="d-flex justify-content-center">
    <div class="row">
        <button type="button" class="btn btn-dark mx-1" onClick="flipCard()">
            flip card
        </button>
        <button type="button" class="btn btn-dark mx-1" onClick="nextCard()">
            next card
        </button>
        <button type="button" class="btn btn-dark mx-1" onClick="knownCard()">
            known card
        </button>
    </div>
</div>
        <script type="text/javascript">
            var x = {{ cards|tojson }}
        </script>
            
        <script src="{{ url_for('static', filename='app.js') }}"></script>
{% endblock %}
