{% extends "base.html" %}
{% block content %}
<div class="d-flex justify-content-center">
    <div class="row memorizePanel">
        <div class="cardFront">
            <h3 class="text-center">{{ card.front }}</h3>
        </div>
        <div class="cardBack">
            {{ card.back }}
        </div>
    </div>
</div>
<div class="d-flex justify-content-center">
    <div class="row">
        <a href="javascript:" class="btn btn-primary btn-lg flipCard">
            Flip Card
        </a>
    </div>
</div>

{% endblock %}
